.RTX {
    font-style: italic;
    background-color: aqua;
    color: black;
}
.YouTube {
    font-weight: bold;

}

.RTX2 {
    font-weight: bold;
}

ol {list-style: circle;}

.GDDR6 {
    display: inline;;
}

.Pet {
    text-align: center;
    padding-top: 30px;
}

.Kulmik {
    display: inline;
}


.Ildus {
    text-align: center;
    margin-top: 180px;
}

.Hach {
    display: inline;
}

div>img {
    width: 300px;
}

.Vidlo {
    
    display: block;
    text-align: center;

}

.PCI {
    border-style: solid;
    float: right;
    margin-right: 40px;
    border-width: 0.5px;
    padding: 10px;
    background-color: darkgrey;
    display: block;
}

.onephoto>img {
width: 500px;
float: left;
}

.onephoto {
    float: left;
    
}

.noandsuper>img {
    width: 520px;
}

.noandsuper {
    float: right;
    margin-left: 30px;
}


.Super>img {
    width: 350px;
}

.Super {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.peta {
    text-align: center;
}

.gbtop {
    margin-top: 120px;

}

.mqe {
    text-align: left;
    margin-top: 340px;
    
}

 .olclass {
    border-style: solid;
    display: inline-block;
    text-align: left;
    
    

 }

div>h2 {
    text-align: center;
}

.punk>img {
    width: 560px;
}

.punk {
    float: right;
}

.Punk2 {
    margin-top: 130px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 200px;
}

.spider {
    width: 560px;
}

.spiders {
    text-align: center;
    
}

.bigspide {
    float: right;
    padding-left: 100px;

}

.Spiide {
    font-weight: bold;
    padding-top: 110px;
    font-size: 20px;
    
}


/* Навигационная панель */


.Panel {
    display: flex;
    justify-content: space-between;    
    background-color: rgb(192, 192, 192);
}

.Panel>nav>ol {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
}

.Panel>nav>ol>li {
    border-style: solid;
    border-width: 0.5px;
    padding: 10px;
}

.Panel>nav>ol>input {
    margin-left: 20px;
    margin-right: 20px;
}

@media (max-width: 900px) {
    .Panel {flex-direction: column;}
}

