.RTX {
    font-style: italic;
    background-color: aqua;
    color: black;
}
.YouTube {
    font-weight: bold;

}

.RTX2 {
    font-weight: bold;
}

ol {list-style: circle;}

.GDDR6 {
    display: inline;;
}

.Pet {
    text-align: center;

}

.Kulmik {
    display: inline;
}


.Ildus {
    text-align: center;
    margin-top: 180px;
}

.Hach {
    display: inline;
}

div>img {
    width: 300px;
}

.Vidlo {
    
    display: inline-block;
    text-align: center;

}

.PCI {
    border-style: solid;
    float: right;
    margin-right: 40px;
    border-width: 0.5px;
    padding: 10px;
    background-color: darkgrey;
}

.onephoto>img {
width: 500px;
float: left;
}

.onephoto {
    float: left;
    
}

.noandsuper>img {
    width: 520px;
}

.noandsuper {
    float: right;
    margin-left: 30px;
}


.Super>img {
    width: 350px;
}

.Super {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.peta {
    text-align: center;
}

.gbtop {
    margin-top: 120px;

}

.mqe {
    text-align: left;
    margin-top: 340px;
    
}

 .olclass {
    border-style: solid;
    display: inline-block;
    text-align: left;
    
    

 }

div>h2 {
    text-align: center;
}


